.bg{
  width: 100 !important;
  height: 100vh !important;
  background-color:#212529 ;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.paper{
  width: 450px;
  height: 500px;
  background-color: aliceblue;

  
}
.width{
  width: 100% !important;
  height: 70px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color:#212529 ;
  color: white !important;
  padding: 10px;
}
.width::placeholder{
  color: white;
}
.width2{
  width: 100% !important;
  height: 70px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color:#212529 ;
  color: white !important;
  padding: 10px;
  margin: auto;
}